---
export const prerender = true;
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import SectionBreak from "@/components/SectionBreak.astro";

export async function getStaticPaths() {
    const tools = await getCollection("tools", ({ data }) => {
        return import.meta.env.PROD ? data.draft !== true : true;
    });
    return tools.map((entry) => ({
        params: { slug: entry.id },
        props: { tool: entry },
    }));
}

interface Props {
    tool: CollectionEntry<"tools">;
}

const { tool } = Astro.props;
const { Content } = await render(tool);
---

<BaseLayout
    title={tool.data.title}
    description={tool.data.description}
    isArticle={true}
    contentType="tool"
    publishedTime={tool.data.published.toISOString()}
    author="TestyCool"
    tags={tool.data.tags || ["tool"]}>
    <Header>
        <h1 class="font-medium text-xl sm:text-2xl tracking-tight">
            {tool.data.title}
        </h1>
        <p class="mx-auto mt-2 max-w-md text-neutral-400 text-balance">
            {tool.data.description}
        </p>
    </Header>
    <SectionBreak />
    <div class="px-4 sm:px-8 py-8 prose">
        <Content />
    </div>
</BaseLayout>
